/*
#254441 = dark slate grey

#links colors:
a{
}
a:link{
}
a:visited{
	
};
a:focust{
}
a:active{
}
a:hover{
}
*/

/* Global Styles
-------------------------------*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background: #FDFFFC;
	margin: 0;
	padding: 0;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 17px;
	line-height: 1.5;

}
a{
	color: #ffe66d;
}
a:hover{
	text-decoration: none;
}

h2{
	margin: 0;
}

h1{
	font-size: 56px;
	line-height: 1.07143;
	font-weight: 400;
	letter-spacing: -.005em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	margin-bottom: 25px;
}

h3{
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 28px;
	line-height: 1.10722;
	font-weight: 400;
	letter-spacing: .004em;
	margin-top: -6px;
	margin-bottom: 10px;
}
.content-wrap{
	max-width: 900px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
}
p{
	line-height: 20px;
	color: #6c757d;
}
/* Navigation
---------------------------------*/
nav {
	background-color: #34252F;
	text-align: center;
	font-size: 21px;
	padding: 10px;
	
}

.top-nav ul{
	list-style-type: none;
}
.top-nav li{
	display: inline-block;
	flex: auto;
}

.top-nav li a{
	text-decoration: none;
	color: #f7fff7;
	padding: 26px;
}

.top-nav li a:hover{
	color: #6c757d
}

/* Profile
-------------------------------*/

header{
	/* color: #011627; */
	margin: 0 auto;
	text-align: center;
	background-image: url('../Images/IMG_0007.jpeg');
	background-position: center;
	background-size:cover;
	height: 100;	
}
header h1{
	text-align: center;
	line-height: 1;
	color: #f7fff7;

}
#intro, #jobDescription {
	color: #254441;
	margin-bottom: 0px;
}


/* Education
-------------------------------*/
.education{
	background-color: #edf2f4;
}

/* Certifications
---------------------*/
.certs a{
	color: #6c757d;
	padding-left: 15px;
}

/* Skills
---------------------*/
.grid-container {
	display: inline-flex;
	flex-direction: row;
}
.skills td {
	padding: 20px;
}
.skills tr{
	margin-right: 50px;
}
.skills{
	background: #edf2f4;
}

/* Projects
-------------------------------*/

.projects .btn{
	color: #f7fff7;
	padding: 8px;
	background: #254441;
	text-decoration: none;
	border-radius: 4px;
	display: inline-block;
}
.projects .btn:hover{
	background: rgba(37,68,65,80%);
}

.project-item{
	overflow: hidden;
	border-bottom: 1px dashed #254441;
	padding: 25px 0;
}

.project-item img{
	float: left;
	margin-right: 20px;
}

.project-item h4{
	margin-top: 0;
}


/* Work Experience
-------------------------------*/
.work-experience{
	background: #edf2f4;
}

#jobDescription{
	margin-bottom: 30px;
	border-bottom: 1px dashed #254441;
}
.work-experience h4{
	padding-top: 25px;
	margin: 0px;
}


/* Bio
-------------------------------*/
#bio-content{
	margin-bottom: 10px;
	
}

/* Hobbies
-------------------------------*/
.hobbies{
	background: #edf2f4;
}
.grid-container{
	display: grid;;
}

/* Contact info
-------------------------------*/
footer{
	background: #34252F;
	color: #f7fff7;
	text-align: center;
}
footer a{
	color: #E0EEC6;
	text-decoration: none;
}
.contact-list{
 	list-style-type: none;
 	padding: 0;
 	display: flex;
 	justify-content: center;
}
.contact-list a:hover{
	text-decoration: underline;
}
.contact-list a{
	padding: 15px;
	display: inline-block;
}





